body {
    margin: 0;
    /*font-size: clamp(1.1rem, 4vw, 2.8rem);*/
    font-size: 16px;
}

content {
    margin: auto;
    width: 85%;
}

iframe {
    width: 100%;
    height: auto;
    border: none;
}

#aladin_img {
    width: min(100%, 58rem);
    height: auto;
    border: 1px solid;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 0px;
    list-style-type: none;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

nav a {
  padding: 0.5rem 0;
  margin: 0;
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  border-radius: 5px;
}

nav a:hover:not(.active) {
  background-color: DarkRed;
}

nav a .active {
  background-color: #111;
}

#schedules_table {
    margin: 50px 1em;
}

#schedules_table .separator {
    width: 100%;
    clear: both;
    padding: 0;
    border-top: 2px solid silver;
}

#schedules_table div {
    float: left;
    border-radius: 6px;
    margin: 0px;
    padding: 0.75rem 0.3rem;
}

#schedules_table .header-el {
    display: none;
    background-color: Cornsilk;
    color:  #595959;
    margin: 0;
    padding-left: 0.75rem;
}


#schedules_table .content {
    padding-left: 0.7rem;
    padding: 1.2rem;
}

#schedules_table .content.line, .content.direction-alias{
    width: auto;
}

#schedules_table .content.line {
    font-family: Verdana, sans-serif;
    clear: left;
}

#schedules_table .content.direction-alias{
    clear: right;
}

#schedules_table .content.departures {
    clear: both;
    padding: 0 1.5rem 0.5rem;
}

#schedules_table .schedule_time {
    float: left;
    margin: 5px;
    padding: 0.25rem;
    font-size: 1.2rem;
}

#tram_3 {
    background-color: DarkRed;
    color: Cornsilk;
}

#bus_83, #bus_84 {
    background-color: #007ab8;
    color: Cornsilk;
}

#bus_88 {
    background-color: #642f6c;
    color: Cornsilk;
}

