body {
    font-size: 18px;
}

iframe {
    width: 100%;
    height: auto;
    border: none;
}

#schedules_table {
    border: 1.8px solid silver;
    border-radius: 5px;
    margin: 25px 1em;
    display: grid;
    grid-template-columns: repeat(3, min-content) auto;
    grid-template-rows: 3em 1fr;
}

#schedules_table .separator {
    display: none;
}

#schedules_table .header-el {
    display: block;
    border-radius: 0;
}

#schedules_table .content.route {
    margin: 5px;
    height: max-content;
}

#schedules_table .content.start-station {
    padding: 1.2rem;
}

#schedules_table .schedule_time {
    font-size: 1.35rem;
}

#schedules_table .content.departures {
    padding: 1.5rem;
}

#schedules_table p.annotation {
    display: none;
}
