<!doctype html>
<title>{% block title %}{% endblock %} - My assistant</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!--<script -->
<!--        src="https://code.jquery.com/jquery-3.7.1.min.js"-->
<!--  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="-->
<!--  crossorigin="anonymous"></script>-->

<section class="content">
  <header>
    <ul>
<!--      kazdemu a tagu nastavime atribut class="active", ak bude aktivny-->
      <li><a href="#aladin">Aladin</a></li>
      <li><a href="#radar">Radar</a></li>
      <li><a href="#mhd">MHD</a></li>
    </ul>
  </header>
  <main>{% block content %}{% endblock %}</main>
</section>