<!doctype html>
<title>{% block title %}{% endblock %} - My assistant</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!--JQuery -->
<!--<script-->
<!--  src="https://code.jquery.com/jquery-3.7.1.min.js"-->
<!--  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="-->
<!--  crossorigin="anonymous"></script>-->

<section class="content">
  <header>
    <ul>
<!--      kazdemu a tagu nastavime atribut class="active", ak bude aktivny-->
      <li><a href="{{ url_for('shmu_aladin') }}">Aladin</a></li>
      <li><a href="{{ url_for('shmu_radar') }}">Radar</a></li>
      <li><a href="{{ url_for('moja_mhd') }}">Moja MHD</a></li>
    </ul>
  </header>
  <main>{% block content %}{% endblock %}</main>
</section>

<!--My javascript-->
<!--<script src="{{url_for('static', filename='script.js')}}"></script>-->