{% extends 'base.html' %}

<h1>{% block title %}Moja MHD{% endblock %}</h1>

{% block nav %}
<li><a href="{{ url_for('moja_mhd') }}" class="active">Moja MHD</a></li>
<li><a href="{{ url_for('shmu_aladin') }}">Aladin</a></li>
<li><a href="{{ url_for('shmu_radar') }}">Radar</a></li>
{% endblock %}

{% block content %}
<div id="schedules_table">
    <div class="header-el">Linka</div>
    <div class="header-el">Smer</div>
    <div class="header-el">Odchody</div>
    {% for line_tuple, line_object in data.items() %}
        {% if line_object.is_operating_today() %}
            {% include('imhd_line_row.html') %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}